.row {
    margin-left: 10px;
    margin-top: 7px;
}

.row__title {
    font-size: 1.3rem;
    font-weight: 700;
}

.row__posters {
    display: flex;
    overflow-y: hidden; 
    overflow-x: scroll; 
    margin-right: 2em;
    padding: 0.75em 0.5em;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    scroll-behavior: smooth; 
}

.row__movie {
    margin-right: 2.5em;
}
