@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: #141414;
    color: #e5e5e5;
}

.App {
    width: 1280px;
    margin: 50px auto;
}

header.logo {
    font-size: 260px;
    font-size: 600;
}
